/* CSS para dispositivos móviles */
@media only screen and (max-width: 767px) {
    :root {
        --background-color-primary: white;
        --background-color-secondary: gray;
        --background-color-third: lightgray;
        --background-color-fourth: black;
    }

    body {
        background: var(--background-color-primary);
    }

    header, .box {
        background: var(--background-color-secondary);
        display: block;
        text-align: center;
        padding: 10px;
    }

    .box img {
        margin: auto;
        display: block;
    }

    img figcaption {
        display: block;
        text-align: center;
    }

    .navbar {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .navbar ul a {
        padding: 0;
        list-style: none;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .Hero {
        background: var(--background-color-third);
        margin: 0 10px;
        height: auto;
    }

    button {
        display: block;
        margin: 10px auto;
    }

    h1 {
        margin: 20px 0;
    }

    h2 {
        background: var(--background-color-fourth);
        color: aliceblue;
        font-weight: lighter;
        padding: 5px;
        margin: 2px;
    }

    .box2, .box3, .box4 {
        background: var(--background-color-third);
        width: auto;
        height: auto;
        margin: 10px;
        padding: 10px;
    }

    .container, .container2 {
        display: block;
        margin: 0 5%;
    }

    .card {
        background: var(--background-color-third);
        width: auto;
        height: auto;
        padding: 10px;
        margin: 10px 0;
        border-radius: 10px;
    }

    h3, h4, .card {
        text-align: center;
    }

    .square img {
        background: var(--background-color-secondary);
        width: 100%;
    }

    footer {
        background: var(--background-color-secondary);
        padding: 20px;
        display: block;
        text-align: center;
    }

    .footer .contact-info, .footer .social-media, .footer .project-info {
        margin: 15px 0;
    }

    .footer .social-media ul {
        padding: 0;
        list-style: none;
    }

    .footer .social-media ul li {
        display: inline-block;
        margin: 0 10px;
    }

    .footer .social-media a {
        text-decoration: none;
        color: #000;
    }

    .footer .social-media a:hover {
        color: #007bff;
    }

}