@media only screen and (min-width: 768px) {
    :root {
        --background-color-primary: white;
        --background-color-secondary: gray;
        --background-color-third: lightgray;
        --background-color-fourth: black 90%;
    }

    body {
        background: var(--background-color-primary);
    }

    header, .box .navbar{
        background: var(--background-color-secondary);
        display: flex;
    }

    .box img {
        margin: 2px;
    }

    img figcaption {
        display: flex;
        align-items: center;

    }

    .navbar {
        justify-content: flex-end;
    }

    .Hero {
        background: var(--background-color-third);
        margin-right: 80px;
        margin-left: 80px;
        height: 250px;
    }

    button {
        display: flex;
    }

    h1 {
        margin-left: 120px;
    }

    h2 {
        background: var(--background-color-fourth);
        color: aliceblue;
        font-weight: lighter;
        padding: 5px;
        margin: 2px;
    }

    .box2 {
        background: var(--background-color-third);
        width: 700px;
        height: 300px;
    }

    .box3 {
        background: var(--background-color-third);
        width: 200px;
        height: 300px;
    }


    .box4 {
        background: var(--background-color-third);
        width: 200px;
        height: 300px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4%;
        margin-left: 9%;
        margin-right: 70%;
    }

    .card {
        background: var(--background-color-third);
        width: 380px;
        height: 250px;
        padding: 5px;
        margin-top: 10%;
        margin-bottom: 10px;
        border-radius: 10px;

    }

    h3, h4, .card {
        text-align: center;
    }

    .container2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 10px;
    }

    .square img {
        background: var(--background-color-secondary);
        width: 80px;
        height: 80px;
    }

    .square, img .text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .text p {
        text-align: left;
        
    }

    .card p {
        margin-top: 0;
        margin-bottom: 0;

    }

    footer {
        background: var(--background-color-secondary);
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer .contact-info, .footer .social-media, .footer .project-info {
        margin-bottom: 15px;
    }

    .footer .social-media a {
        margin: 0 10px;
        text-decoration: none;
        color: #000;
    }

    .footer .social-media a:hover {
        color: #007bff;
    }
    .footer .project-info {
        font-size: 0.9em;
        color: #6c757d;
        text-align: left;
    }

    footer p {
        color: aliceblue;
        
    }
}

