body {
    background-color: lightblue;
    color: white;
}

h1, h2, h3, h4 {
    
    text-align: center;
    padding: 15px;
}

div {
    background-color: darkblue;
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 15px;
}

img {
    
    
}

nav ul li a {
    color: aliceblue;
    justify-content: space-between;
    text-decoration: none;
    
    
    
}
.box1 {
    background-color: black;
    text-align: center;
    justify-content: space-around;

}